@page
@model ForgetPasswordModel

<style>
        body {
            font-family: 'Courier New', Courier, monospace;
            background-color: #6B78C0;
            color: white;
            text-align: center;
            padding: 20px;
            margin-top:100px;
        }

        label {
            display: block;
            margin: 10px ;
            font-size: 20px;
        }

        input {
            width: 400px;
            padding: 10px;
            margin-bottom: 60px;
            font-size: 20px;
        }

        button {
            
            background-color: black;
            color: white;
            cursor: pointer;
            border: none;
            font-size: 20px;
            height:50px;
            width:100px;
        }
        h2{
            margin-bottom:60px;
        }

    .explore-text1 {
        font-size: 50px;
        font-family: 'Courier New';
        color: white;
        position: fixed;
        right: 170px;
        bottom: 380px;
    }

    .explore-text2 {
        font-size: 50px;
        font-family: 'Courier New';
        color: white;
        position: fixed;
        left: 170px;
        bottom: 380px;
    }
 </style>

<div class="container">
    <h2>Şifremi Unuttum</h2>
    <form method="post">

        <div id="forgotPasswordSection">
            
            <!-- Yeni şifre, yeni şifre tekrarı ve yenile butonu ekleyin -->
            <div>
                <label for="newPassword">Yeni Şifre:</label>
                <input type="password" id="newPassword" name="NewPassword" required />
            </div>
            <div>
                <label for="confirmNewPassword">Yeni Şifre Tekrar:</label>
                <input type="password" id="confirmNewPassword" name="ConfirmNewPassword" required />
            </div>
            <button type="button" onclick="resetPassword()">Yenile</button>
        </div>

        <div class="explore-text1">
            <div>KİTAPLARI</div>
            <div>KEŞFET!</div>
        </div>

        <div class="explore-text2">
            <div>KİTAPLARI</div>
            <div>KEŞFET!</div>
        </div>

        
    </form>
</div>

<script>

    function resetPassword() {
        // Şifre sıfırlama işlevselliğini gerçekleştirmek için mantığı uygula
        var newPassword = $('#newPassword').val();
        var confirmNewPassword = $('#confirmNewPassword').val();

        if (newPassword === confirmNewPassword) {
            // Şifre sıfırlama işlevselliğini burada gerçekleştir
            alert('Şifreniz başarıyla sıfırlandı!');
        } else {
            alert('Yeni şifreler eşleşmiyor. Lütfen kontrol edin.');
        }
    }
</script>


