@page
@model LoginRegisterModel

<style>
    body {
        margin-bottom:90px;
        font-family: 'Courier New';
        background-color: #6B78C0;
      
    }

    div {
        margin-bottom: 10px;
        padding:10px;
    } 

    label{
        display: block;
        margin-bottom: 5px;
        font-size:20px;
        font-family:'Courier New';
        color:white;
        font-weight:bold;
    }
    
    input {
        width: 600px; /*tüm input genişliği aynı olsun*/
        padding: 10px;
        box-sizing: border-box;
        margin-bottom: 20px; /*kutucuklar arası boşluk bırakma*/
        font-size:medium;
        font-family:'Courier New';
        font-weight:bold;
    }

    button {
        padding: 10px;
        margin: auto;
        background-color:black;
        color:white;
        cursor:pointer;
        border:none;
    }
    .explore-text {
        font-size: 50px;
        font-family: 'Courier New';
        color: white;
        position: fixed;
        right: 170px;
        bottom: 380px;
    }
    .nav-tabs{
        font-family:'Courier New';
        color: black;
        font-weight: bold;
        font-size: 20px;
        margin-top: 30px;
        tab-size:20px;
    }
    .sifre-button{
        background-color: #6B78C0;
        
    }
</style>

<div class="container">
    
    <!-- Sekme Kontrol -->
     <ul class="nav nav-tabs" >
        <li class="nav-item">
            <a class="nav-link active" id="login-tab" data-toggle="tab" href="#loginPane">Hesap Girişi</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="register-tab" data-toggle="tab" href="#registerPane">Hesap Oluştur</a>
        </li>
    </ul> 

    <!-- Sekmeli İçerik -->
    <div class="tab-content">
        <!-- Hesap Girişi Sekmesi -->
        <div class="tab-pane active" id="loginPane" style="margin-top:90px">
            <form method="post" >
                <!-- Hesap Girişi Alanları -->
                <div >
                    <label for="loginEmail" style="margin-top:60px">E-posta:</label>
                    <input type="email" id="loginEmail" name="LoginEmail" style="margin-top:10px" required  />
                </div>

                <div>
                    <label for="loginPassword" >Şifre:</label>
                    <input type="password" id="loginPassword" name="LoginPassword" style="margin-top:10px" required  />
                </div>

                <button type="submit" onclick="openSecondPage()" style="margin-top:40px;">Giriş Yap</button>
                
                    <!-- Yeni sayfayı açan fonksiyonu çağıran bir link ekleyin -->
                 <div>
                     <button type="button" class="sifre-button" onclick="openForgotPasswordPage()">Şifremi Unuttum</button>
                </div>
                
             
            </form>
        </div>

        <!-- Hesap Oluştur Sekmesi -->
        <div class="tab-pane" id="registerPane">
            <form asp-action="AddRequest" method="post" >
                <!-- Hesap Oluşturma Alanları -->
                <div>
                    <label for="registerFirstName">Ad:</label>
                    <input type="text" id="registerFirstName" name="RegisterFirstName" required />
                </div>

                <div>
                    <label for="registerLastName">Soyad:</label>
                    <input type="text" id="registerLastName" name="RegisterLastName" required />
                </div>
                <div>
                    <label for="phoneNumber">Telefon Numarası:</label>
                    <input type="text" id="phoneNumber" name="PhoneNumber" required />
                </div>
                <div>
                    <label for="registerEmail">E-posta:</label>
                    <input type="email" id="registerEmail" name="RegisterEmail" required />
                </div>

                <div>
                    <label for="registerPassword">Şifre:</label>
                    <input type="password" id="registerPassword" name="RegisterPassword" required />
                </div>

                <button type="submit">Oluştur</button>
              
            </form>
        </div>
    </div>
    <div class="explore-text">
        <div>KİTAPLARI</div>
        <div>KEŞFET!</div>
    </div>
</div>

 <script>
    /* JavaScript ile sekme geçişini sağlama*/
        function showTab(tabId) {
            $('.nav-tabs a[href="#' + tabId + '"]').tab('show');
        }

    $(document).ready(function () {
        $('.nav-tabs a').on('click', function (e) {
            e.preventDefault();
            $(this).tab('show');
        });
    });

    // "Şifremi Unuttum" bağlantısına tıklandığında yeni sayfayı açan fonksiyon
    function openForgotPasswordPage() {
        var newPasswordPage = window.open('pages/forget_password_page', '_blank');
        newPasswordPage.focus();
    }

    function openSecondPage() {
        var newSecondPage = window.open('pages/book_genre_selection_page', '_blank');
        newSecondPage.focus();
    }
</script>